.prediction {
  background-color: var(--panel-color);
  padding: 2rem;
  border-radius: 30px;

  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  max-width: 100%;

  span {
    color: #ecf39e;
  }
}
